.container_small{
    max-width: 600px;
    margin: 0 auto;
}

img{
    max-width: 100%;
}

.medium_container{
    max-width: 1000px;
    margin: 0 auto;
    
}

.t-white{
    color: white;
}

.bg-green{
    background-color: #1ABC9C;
}

.form li{
    border-bottom: 1px solid gray;
    padding-bottom: 1rem;
}

.form li:nth-child(4){
    padding-bottom: 6rem;
}